*
{
    text-align: justify;
}
body
{
    padding-top: 20px;
    padding-bottom: 20px;
}
@media (min-width: 1024px) {
    .container
    {
        max-width: 960px;
    }
}
table .top
{
    border-top: 0;
}
table .left
{
    width: 200px;
}
table .middle
{
    width: 250px;
}
.avatar
{
    float: left;
    margin: 0 15px;
    height: 150px;
    width: 150px;
}
.header
{

}
.middle
{
    clear: both;
}
.links
{
    list-style: none;
    text-align: left;
}
@media screen {
    .links li+li:before
    {
        margin-left: -.6em;
        margin-right: .6em;
        content: "\00b7";
        font-weight: bold;
    }
}
@media print {
    body
    {
        padding: 0;
    }
    .links li
    {
        display: block;
    }
}
