body
{
	text-align: justify;
}
.container
{
	margin: 50px auto;
}
table .top
{
	border-top: 0;
}
table .left
{
	width: 250px;
}
table .middle
{
	width: 250px;
}
.avatar
{
	float: left;
	margin: 0 15px;
	height: 150px;
	width: 150px;
}
.header
{

}
.middle
{
	clear: both;
}